<nav>
    <div class='secao-de-opcoes'>
        <a class="opcao-navbar" href="{% url 'sistema:homepage' %}">Início</a>
        <a class="opcao-navbar" href="{% url 'sistema:caixa' %}">Caixa</a>
        <a class="opcao-navbar" href="{% url 'sistema:clientes' %}">Clientes</a>
        <a class="opcao-navbar" href="{% url 'sistema:entradaDeNotas' %}">Entrada de Mercadorias</a>
        <a class="opcao-navbar" href="{% url 'sistema:estoque' %}">Estoque</a>
        <a class="opcao-navbar" href="{% url 'sistema:fornecedores' %}">Fornecedores</a>
        <a class="opcao-navbar" href="{% url 'sistema:relatorios' %}">Relatórios</a>
        <a class="opcao-navbar" href="{% url 'sistema:vendas' %}">Vendas</a>
    </div>
</nav>