{% extends 'base.html' %}
{% load static %}


{% block titulo %}
Relatório de Caixa
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div id="error-message" class="{% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}" style="display: none;">             
                    <span>{{ message }}<span>
        </div>
    {% endfor %}
{% endif %}

<div>
    <div style="height: 50px;">
    </div>
    <table>
        <tr>
            <th style="width: 300px;">DESCRIÇÃO <th style="width: 150px;">CRÉDITO<th style="width: 150px;">DÉBITO
        </tr>
        {% for credit in object.credito.all %}
        <tr>
            <th>{{ credit }} <th>{{ credit.valor|floatformat:"2" }}<th>
        </tr>
        {% endfor %}
        {% for debit in object.debito.all %}
        <tr>
            <th>{{ debit }} <th><th>{{ debit.valor|floatformat:"2" }}
        </tr>
        {% endfor %}
        <tr>
            <th>Valor total de vendas<th>{{ valor_total_vendas|floatformat:"2" }}<th>
        </tr>
        <tr>
            <th>Valor total<th colspan="2"> R$ {{ valor_total|floatformat:"2" }}
        </tr>
    </table>
    <div style='background-color: black; height:2px; margin-top:50px; margin-bottom:50px;'>
    </div>
    <table>
        <tr>
            <th>VALOR NO SISTEMA<th>VALOR EM CAIXA<th>VALOR EM CARTÕES<th>SALDO FINAL
        </tr>
        <tr>
            <th style="width: 250px;">R$ {{ object.valorSistema|floatformat:"2" }}<th style="width: 250px;">R$ {{ object.valorCaixa|floatformat:"2" }}<th style="width: 250px;">R$ {{ object.valorCartao|floatformat:"2" }}<th style="width: 250px;">R$ {{ object.saldoFinal|floatformat:"2" }}
        </tr>
    </table>
<div class="div-botao-voltar">
    <a href="{% url 'sistema:relatorios' %}">
    <button class="btn-voltar">
        VOLTAR
    </button>
</a>
</div>
</div>

{% endblock %}