{% extends 'base.html' %}
{% load static %}


{% block titulo %}
Vendas
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div id="error-message" class="{% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}" style="display: none;">             
                    <span>{{ message }}<span>
        </div>
        {% endfor %}
{% endif %}

<div>
<div id='main-vendas'>
    <div class="inserir-item-venda">
        <form method="post">
            {% csrf_token %}
            <label for="idproduto" class='label-vendas'>Código Item</label>
            <input id='idproduto' name='produto' type='text' class='input-produto' placeholder="Insira aqui o código do produto" required>
            <label for="idquantidade" class='label-vendas'>Quantidade</label>
            <input id="idquantidade" name='quantidade' type='number' class='input' required>
            <label for="idvalor" class='label-vendas'>Valor Unitário</label>
            <input id="idvalor" name='valor' type='text' class='input' required>
            <button type='submit' name="confirm" value="add" class='btn-add'>ADD</button>

        </form>
    </div>
    <div style='background-color: black; height:2px; margin-top:10px; margin-bottom:10px;'>
    </div>

    <div class='exibe-produtos'>
        <div class="buscar-produto" style="margin-left: 20%;">
            <form method='post'>
                {% csrf_token %}
                <input type="text" name="busca-produto" id='idbusca-produto' placeholder="Busque pelo produto ou grupo desejado" class='input-produto'> 
                <button type="submit" name="confirm" value="search" class='btn-add'>BUSCAR</button>
            </form>
        </div>
        <table>
            <tr>
                <th>PRODUTO<th>GRUPO<th>QUANTIDADE EM ESTOQUE <th>PREÇO DE VENDA <th>PREÇO DE CUSTO<th>CÓDIGO PRODUTO
            </tr>
            {% for produto in object_list %}
            <tr>
                <td class="produto-tabela"> {{ produto.nome }}
                <td> {{ produto.grupo }}
                <td> {{ produto.quantidade }} unidades
                <td> {{ produto.valor_venda }}
                <td> {{ produto.valor_custo }}
                <td> {{ produto.id }}

            </tr>
            {% endfor %}
        </table>
    </div>

    <div style='background-color: black; height:2px; margin-top:10px; margin-bottom:10px;'>
    </div>

    <div class='lista-item-venda'>
        {% if itens_venda %}
            <table>
                <tr>
                    <th>PRODUTO <th>QUANTIDADE <th>VALOR UNITÁRIO <th> VALOR TOTAL <th> CLIQUE AQUI PARA REMOVER
                </tr>
                <tr>
            {% for item in itens_venda %}
            <div>
                
                
                {% for individual in item%}
            
                <th>{{ individual }}
                
                {% endfor %}
                <form method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ forloop.counter }}" name="indice">
                <th><button type="submit" name="confirm" value="del" class="btn-del">DELETE</button>
                </form>
                </tr>
            </div>
            {% endfor %}
            <tr>
                <th colspan="3"> VALOR TOTAL DA VENDA <th colspan="2">R$ {{ valor_total_venda|floatformat:"2" }}
            </tr>
            </table>
        {% else %}
        <div>
            <h1>VOCÊ AINDA NÃO INSERIU NENHUM ITEM</h1>
        </div>
        {% endif %}
        
    </div>
    <div class='div-link-btn'>
    <a href="#" class='link-btn' ><button class="btn-prosseguir-vendas" onclick="formaPagamento(event)">Seguir para a forma de pagamento</button><a>
    </div>
</div>
<div>
</div>
<div id="main-vendas-2" style="display:none;">
    <div class="pagamento">
        <h1>SELECIONE SUA FORMA DE PAGAMENTO</h1>
        <form method="post" id="myForm">
            {% csrf_token %}
            <script>
                document.getElementById("myForm").addEventListener("submit", function(event) {
                    var radios = document.getElementsByName("pagamento");
                    var selected = false;
            
                    for (var i = 0; i < radios.length; i++) {
                        if (radios[i].checked) {
                            selected = true;
                            break;
                        }
                    }
            
                    if (!selected) {
                        event.preventDefault();
                        alert("Por favor, selecione pelo menos uma opção de pagamento.");
                    }
                });
            </script>
            <div class="pagamento-input">
            <label for="idcartao">CARTÃO/PIX</label>
            <input type="radio" value="cartao" name="pagamento" id="idcartao">
            </div>
            <div class="pagamento-input">
            <label for="iddinheiro">DINHEIRO</label>
            <input type="radio" value="dinheiro" name="pagamento" id="iddinheiro"><br>
            </div>
            <div class="pagamento-input-2">
                <label for="idcartao-dinheiro">CARTÃO/PIX + DINHEIRO</label>
                <input type="radio" value="dinheiro+cartao" name="pagamento" id="idcartao+dinheiro"><br>
                <input type="text" placeholder="Insira o valor pago no cartão/PIX" name="valor-cartao">
                <input type="text" placeholder="Insira o valor pago no dinheiro" name="valor-dinheiro"><br>
                
            </div>
            
            <button type="submit" class="sales-confirm" name="confirm" value="confirm-sale">CONFIRMAR VENDA</button>
            <p class="total-value-sale">Valor total: R$ {{ valor_total_venda|floatformat:"2" }} </p>


        </form>
    </div>
    
{% endblock %}